body {
    margin: 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
}
.flex-container {
    display: flex;
    margin: 7% 10%;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 85%;
    margin-left: 10%;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
    line-height: 30px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

.header-text {
    border-left: 5px solid #f55240;
    border-radius: 5px;
    line-height: 45px;
    padding-left: 5px;
    margin-top: 15%;
}
.text-orange {
    color: orange;
}
.btn {
    background-color: #fa6e5e;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}
.text-center {
    text-align: center;
}
.mission-card {
    background-color: #b4d3df57;
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
}
.mission-card img {
    width: 30%;
}
.vission-card {
    background-color: #c9ab9641;
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
}
.vission-card img {
    width: 30%;
}
.goals-card {
    background-color: #e7d79052;
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
}
.goals-card img {
    width: 30%;
}
.develop-container {
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18%;
}
.develop-half {
    width: 50%;
    margin-left: 2%;
}
.develop-half img {
    width: 70%;
    margin-left: 5%;
}
.qualification-container {
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: 18%;
}
.statictics {
    margin: 20px 6%;
    text-align: center;
}
.footer-container {
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    padding: 30px;
}

.footer-container p {
    color: #b8f1f5;
    font-size: 15px;
}
.footer-container span {
    color: #fa6e5e;
}